whois_script/
perhour/
lections/
scanner/
whois_script_1.0.tar.gz
whois_script_12_06_2022.tar.gz
.idea
./python-course-task3/.idea
./pythoun-course-task4/.idea
./python-course-task5/.idea
./python-course-task6/.idea
./python-course-task7/.idea
./python-course-task8/.idea
./python-course-task8/__pycache__
./pythoun-course-task9/.idea
./python-course-task10/__pycache__
./python-course-task10/.idea
./python-course-task10/venv
./python-course-task11/__pycache__
./python-course-task11/.idea
./python-course-task11/venv
